
<%= render "devise/shared/error_messages", resource: resource %>




<div class="con">
      <h1><div class="fontright">Hello there!</div></h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="box">
        <i  class="fas fa-envelope"></i>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
      <div class="box">
        <i  class="fas fa-key"></i>
        
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password" %>
      </div>

      <div class="box">
        <i  class="fas fa-key"></i>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat Password" %>
      </div>
      <%= f.submit "Sign Up", class: "btun" %>
      <% end %>

      <div class="box">


       <%= link_to 'Log In', new_user_session_path, class: " btun links" %>
      </div>
          
        </div>
     </div>
</div>