
<%= render "devise/shared/error_messages", resource: resource %>




<div class="con">
      <h1><div class="fontright">Hello there!</div></h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="box">
        <i  class="fas fa-envelope"></i>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
      <div class="box">
        <i  class="fas fa-key"></i>
        
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password" %>
      </div>

      <div class="box">
        <i  class="fas fa-key"></i>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat Password" %>
      </div>
      <%= f.submit "Sign Up", class: "btn" %>
      <% end %>
      
       <%= link_to 'Log In', new_user_session_path, class: " btn links" %>
      
          
        </div>
     </div>
</div>




















<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
