<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @pr_item.description %>
</p>

<p>
  <b>Completed:</b>
  <%= @pr_item.completed %>
</p>

<p>
  <b>Completed at:</b>
  <%= @pr_item.completed_at %>
</p>

<p>
  <b>Pr list:</b>
  <%= @pr_item.pr_list %>
</p>


<%= link_to 'Edit', edit_pr_list_pr_item_path(@pr_item.pr_list, @pr_item) %> |
<%= link_to 'Back', pr_list_pr_items_path(@pr_item.pr_list) %>
